<!DOCTYPE html>
<html>
  <head>
    <title>Email Finder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="./styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/46c9aa038d.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <img
            src="/logo.png"
            alt=""
            srcset=""
            style="width: 30px; height: 30px"
          />
          <a class="navbar-brand text-white" href="/">Email Finder</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text-white"
                aria-current="page"
                href="/searchemail"
                >Search Email</a
              >
            </li>
          </ul>
          <div class="me-1 text-white">Welcome</div>
          <a
            class="link-offset-2 link-underline link-underline-opacity-0 fw-bold text-white"
            style="padding-right: 5rem; text-decoration: none"
            id="loggedUserName"
          ></a>
          <a
            class="link-offset-2 link-underline link-underline-opacity-0 text-white ps-4 ml-3"
            href="/logout"
          >
            <i
              class="fa-solid fa-right-from-bracket"
              style="font-size: 1.9rem"
            ></i>
          </a>
        </div>
      </div>
    </nav>
    <!-- Panel -->
    <div class="container mt-5">
      <div class="row justify-content-md-center">
        <div class="col col-lg-4 col-md-8">
          <div class="card bg-warning">
            <a
              class="link-offset-2 link-underline link-underline-opacity-0"
              href="/users"
            >
              <div class="card-body">
                <h5 class="card-title mb-0">
                  <p class="text-center text-white fw-bold fs-2 my-2 py-5">
                    User Management
                  </p>
                </h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="dashboard.js"></script>
  </body>
</html>
